<h1>Customers</h1>

<p *ngIf="!customerPage"><em>Loading...</em></p>

<form *ngIf="customerPage">
    <input id="filter" type="text" name="filter" /> 
    <button (click)="applyFilter()">Apply</button>
</form>

<table class='table' *ngIf="customerPage">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Social security number</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerPage.customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.socialSecurityNumber }}</td>
            <td>{{ customer.category }}</td>
            <td><button (click)="delete(customer.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div>
    <button (click)="previousPage()" id="btnPrevPage">Previous</button> 
    Page: {{ customerPage.pageNumber + 1 }} of {{ customerPage.totalPageCount }}, 
    Items per page: 
    <select id="cmbItemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChanged()">
        <option *ngFor="let itemCount of itemCountOptions" [value]="itemCount" [selected]="itemCount == itemsPerPage">{{ itemCount }}</option>
    </select> 
    <button (click)="nextPage()" id="btnNextPage">Next</button>
</div>