<h1>Customers</h1>

<p *ngIf="!customerPage"><em>Loading...</em></p>

<form *ngIf="customerPage">
    <table  class='table'>
        <thead>
            <tr>
                <th>Name filter</th>
                <th>SSN filter</th>
                <th>Category filter</th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
            <tr>
                <td><input id="nameFilter" type="text" [(ngModel)]="customerFilter.nameFilter" name="txtNameFilter" /></td>
                <td><input id="socialSecurityNumber" type="text" [(ngModel)]="customerFilter.ssnFilter" name="txtSSN" /></td>
                <td><input id="category" type="text" [(ngModel)]="customerFilter.categoryFilter" name="txtCategory" /></td>
                <td><button (click)="applyFilter()">Apply filter</button></td>
            </tr>
        </tbody>
    </table>
</form>

<table class='table' *ngIf="customerPage">
    <thead>
        <tr>
            <th>Name</th>
            <th>Social security number</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customerPage.customers">
            <td>{{ customer.firstName }} {{ customer.lastName }}</td>
            <td>{{ customer.socialSecurityNumber }}</td>
            <td>{{ customer.category }}</td>
            <td><button (click)="delete(customer.id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div>
    <button (click)="previousPage()" id="btnPrevPage">Previous</button> 
    Page: {{ customerPage.pageNumber + 1 }} of {{ customerPage.totalPageCount }}, 
    items per page: 
    <select id="cmbItemsPerPage" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChanged()">
        <option *ngFor="let itemCount of itemCountOptions" [value]="itemCount" [selected]="itemCount == itemsPerPage">{{ itemCount }}</option>
    </select> 
    <button (click)="nextPage()" id="btnNextPage">Next</button>
    <button (click)="saveChanges()" id="btnSaveChanges">Save changes</button>
</div>